<!DOCTYPE html>
<!-- each adjustment matters -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Card Box</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vuex@next"></script>
    <script src="./magicCardBox.js"></script>
    <script src="./MCB_Store.js"></script>
    <script src="./system-boot-feature-tests.js"></script>
    <link rel="stylesheet" href="./magicCardBoxStyles.css">
</head>

<body>
    <div class="loading">Loading...</div>
    <div id="app" style="display:none;">
        <div :style="{
            '--card-columns':cardColumnsInput, 
            '--stack-columns':stackColumnsInput}"
            
            @contextmenu.prevent="openContextMenu" 
            @touchstart="handleTouchStart" 
            @touchend="handleTouchEnd" 
            @touchcancel="handleTouchEnd"

            @click="onBGClicked($event)"
            
            >

            <!-- popup window -->
            <div class="popup-overlay" v-if="showPopup">
                <div class="popup">
                    <div class="popup-inner">
                        <h1>Merge Stack...</h1>
                        <p>Choose a stack to merge with...</p>
                        Available Stacks ({{ Object.keys(stacks).length }})<br/>
                        <select v-model="selectedStackToMerge">
                            <option value="">Select a stack to merge</option>
                            <option value="NEW">New Stack...</option>
                            <option v-for="([stackId, stack]) in Object.entries(stacks).filter(([_, stack]) => !selectedStacks.includes(stackId))" :value="stackId">
                                {{ stack.name }}
                            </option>
                        </select>
                        <hr/>
                        <button @click="setShowPopup(false)">Cancel</button>
                        <button @click="setShowPopup(false)" 
                        :disabled="selectedStackToMerge === ''">Merge</button>
                    </div>
                </div>
            </div>

            <div ref="contextMenu" class="context-menu" 
                :style="{ top: menuPosition.y + 'px', left: menuPosition.x + 'px' }"
            >
                <ul class="card-context-menu" v-if="contextMenuContext === 'card'">
                    <li @click="selectMenuItem('moveSelectedCardsToStack')">Move Cards to Stack...</li>
                    <li @click="selectMenuItem('deleteSelectedCards')">Delete Selected Cards...</li>
                </ul>
                <ul class="stack-context-menu" v-else-if="contextMenuContext === 'stack'">
                    <li @click="selectMenuItem('mergeSelectedStack')">Merge Stack...</li>
                    <li @click="selectMenuItem('toggleSelectedStackCollapsed')">Collapse/Expand Stack...</li>
                    <li @click="selectMenuItem('closeSelectedStack')">Close Stack...</li>
                </ul>
                <ul class="global-context-menu" v-else>
                    <li @click="selectMenuItem('openCommandPalette')">Command Palette...</li>
                    <li @click="selectMenuItem('collapseAllStacks')">Collapse All Stacks</li>
                    <li @click="selectMenuItem('expandAllStacks')">Expand All Stacks</li>
                    <li><hr/></li>
                    <li @click="selectMenuItem('closeAllStacks')">Close All Stacks</li>
                    <li @click="selectMenuItem('openAllStacks')">Open All Stacks</li>
                    <li><hr/></li>
                    <li @click="selectMenuItem('logout')">Logout</li>
                </ul>
            </div>

            <div class="controls">
                <label for="stackCols">
                    <input name="stackCols" type="number" step="1" min="1" max="100" v-model="stackColumnsInput" />
                </label>
                <label for="cardCols">
                    <input name="cardCols" type="number" step="1" min="1" max="100" v-model="cardColumnsInput" />
                </label>
                <form @submit.prevent="addStack({name:newStackName})">
                    <input v-model="newStackName" placeholder="New Stack Name" ref="newStackNameInput">
                    <button type="submit">Add Stack</button>
                </form>
                <!-- TODO: hide if all collapsed || all closed || none visible -->
                <button @click="collapseAll">Collapse All</button>
                <!-- TODO: hide if all expanded || all closed || none visible -->
                <button @click="expandAll">Expand All</button>
                <!-- TODO: hide if all closed || none visible -->
                <button @click="closeAllStacks">Close All</button>
                <!-- TODO: hide if none closed -->
                <button @click="openAllStacks">Open All</button>
                <br/>
                <!-- TODO: hide if none closed -->
                <select v-model="selectedClosedStack">
                    <option value="">Select a closed stack</option>
                    <option v-for="([stackId, stack]) in Object.entries(stacks).filter(([_, stack]) => stack.closed)" :value="stackId">
                        {{ stack.name }}
                    </option>
                </select>
                <!-- <button @click="openSelectedStack">Open Stack</button> -->
            </div>
            <div class="stacks-container">
                <!-- 


                    STACKS

                -->
                <div v-for="([stackId, stack]) in Object.entries(stacks).reverse().filter(([_, stack]) => !stack.closed)"
                    :data-stack-id="stackId"
                    :key="stackId" class="stack" 
                    @click="onStackClicked($event, stackId)" 
                    :class="{ 
                        'selected': stack.selected,
                        'collapsed-stack': stack.collapsed,
                        'passing': stack.passing === true,
                        'failing': stack.passing === false,
                        'pending': stack.passing === -1
                    }" :style="{ height: stack.collapsed ? '50px' : 'auto', }"
                    draggable="true"
                    @dragstart="stackDragStart(stackId)"
                    @dragover.prevent 
                    @drop="stackDrop(stackId)"
                    >
                    <div class="stack-header">
                        <div>
                            <span class="stack-name-unhovered">{{ stack.name }}</span>
                            <span class="stack-name-unhovered"> <br />Cards: ({{ Object.keys(stack.cards).length }})
                                <br /><span class="stack-header-details">{{ passFailPendingString(stack) }}</span></span>
                        </div>
                        <hr v-if="!stack.collapsed" />

                        
                        <div v-if="!stack.collapsed" class="stack-header-details">
                            <input v-model="stack.name" placeholder="Stack Name"><br />
                            <!-- id: {{stack.id}}<br /> -->
                            
                            <button @click="deleteStack(stackId)" class="pull-right">Delete Stack</button>
                            <hr />
                            Tags:<br />
                            <div v-for="tag in stack.tags" :key="tag" class="tag">
                                {{ TAG_NAME_MAP[tag] ?? tag }}
                            </div>
                            <br />
                            <input placeholder="Add Tag">
                        </div>
                    </div>

                    <!-- <div class="stack-expand-close-control">
                        <button class="" @click.prevent="toggleStackSelected(stackId)" @dblclick.prevent="toggleCollapse(stackId)">{{ stack.collapsed ? 'Expand' : 'Collapse'
                        }}</button>
                        <button @click="setStackClosed({stackId, closed:true})">Close</button>
                    </div> -->
                    
                    <div class="stack-cards-section">
                        <div v-if="!stack.collapsed && !Object.entries(stack.cards).length" class="empty-stack-message">
                            Empty Stack <a href="#">Click Here to add a new card</a></div>
                        <!-- <transition-group name="card-animation"> -->
                        <!-- 

                            CARDS

                        --> 
                        <!-- const [index, value] of arr.entries( -->
                        <!-- <pre>stack card_order: {{stack.card_order}}</pre> -->
                            <div v-for="(cardID, index) in stack.card_order"
                                    :key="cardID"
                                    class="card" 
                                    draggable="true" 
                                    :class="{
                                        'selected':  stack.cards[cardID.toString()]?.selected,
                                        'completed': stack.cards[cardID.toString()]?.completed_at,
                                        'pending':   stack.cards[cardID.toString()]?.passing === -1,
                                        'passing':   stack.cards[cardID.toString()]?.passing === true,
                                        'failing':   stack.cards[cardID.toString()]?.passing === false
                                    }" 
                                    @click="toggleCardSelected($event,stack.cards[cardID.toString()])" 
                                    @dragstart.prevent="dragStart(stack.cards[cardID.toString()], stackId)"
                                    @dragover.prevent 
                                    @drop.prevent="drop(stack.cards[cardID.toString()], stackId)"
                                    :data-card-id="cardID"
                                >
                                <!-- <pre>cardID {{cardID}} index {{index}}</pre> -->
                                <!-- <div>position: {{stack.cards[cardID.toString()]?.position}}</div> -->
                                <!-- card errors -->
                                <div v-if="stack.cards[cardID.toString()]?.error" class="card-error">{{ stack.cards[cardID.toString()]?.error }}</div>
                                <div v-show="!stack.cards[cardID.toString()]?.editing">{{ stack.cards[cardID.toString()]?.content }}</div>
                                <textarea 
                                    v-if="stack.cards[cardID.toString()]"
                                    v-show="stack.cards[cardID.toString()]?.editing" 
                                    v-model="stack.cards[cardID.toString()].content"
                                    style="width:100%; min-height: 150px;" 
                                    @blur="stack.cards[cardID.toString()].editing=false"
                                    @keyup.enter="stack.cards[cardID.toString()].editing=false"></textarea>
                                <div class="card-controls" v-if="!stack.cards[cardID.toString()]?.editing">
                                    <label :for="`completed_input_${cardID}`">
                                        <input type="checkbox"
                                            v-if="stack.cards[cardID.toString()] && !stack.cards[cardID.toString()]?.tags.includes(TAG_HIDE_COMPLETE_TOGGLE)"
                                            v-model="stack.cards[cardID.toString()].completed_at" 
                                            :name="`completed_input_${cardID}`"
                                            @change="setCardCompleted({
                                                card: stack.cards[cardID.toString()], 
                                                state:$event.target.checked})">
                                        Done?
                                    </label><br />
                                    <button @click="toggleEditCard(stack.cards[cardID.toString()])">Edit</button>
                                    <button @click="deleteCard({stackId, cardID})">Delete</button>
                                </div>
                            </div>
                        <!-- </transition-group> -->
                    </div><!-- stack-cards-section-->

                    <!-- AFTER stack-cards-section so sibling selector works on hover -->
                    <div class="stack-controls" style="padding-top: 10px;">
                        <form @submit.prevent="addCard({stackId, content:newCardNames[stackId]})">
                            <input v-model="newCardNames[`${stackId}`]" :class="`newCardNameInput-${stackId}`"
                                placeholder="Card Name">
                            <button type="submit">Add Card</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
       html, body {
        background-color: black;
       }
    </style>

</body>

</html>